.selected{
  color: black
}
.cursor {
  color: #fff;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
}

.cursor:hover{
  cursor: pointer;
  opacity: 0.8;
}

.cursor:focus {
  color: rgb(199, 194, 194);
}

.home-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}